[submodule "ext/inv"]
	path = ext/inv
	url = git://git.smurf.noris.de/moat-kv-inv.git
[submodule "ext/ow"]
	path = ext/ow
	url = git://git.smurf.noris.de/moat-kv-ow.git
[submodule "ext/ha"]
	path = ext/ha
	url = git://git.smurf.noris.de/moat-kv-ha.git
[submodule "ext/moat-knx"]
	path = ext/knx
	url = git://git.smurf.noris.de/moat-kv-knx.git
[submodule "ext/gpio"]
	path = ext/gpio
	url = git://git.smurf.noris.de/moat-kv-gpio.git
[submodule "moat-kv-akumuli"]
	path = ext/akumuli
	url = git://git.smurf.noris.de/moat-kv-akumuli.git
[submodule "ext/wago"]
	path = ext/wago
	url = git://git.smurf.noris.de/moat-kv-wago.git
[submodule "ext/cal"]
	path = ext/cal
	url = git://git.smurf.noris.de/moat-kv-cal.git
