[Unit]
Description=MoaT-KV default any-nodes runner
After=moat.kv.service
Requires=moat.kv.service

ConditionFileNotEmpty=/etc/moat.kv.cfg

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
ExecStart=/usr/lib/moat.kv/run-any

User=moat.kv
Group=moat.kv

EnvironmentFile=/usr/lib/moat.kv/env
EnvironmentFile=-/etc/moat.kv.env

TimeoutSec=300
WatchdogSec=10

Restart=always
RestartSec=10
