[Unit]
Description=DistKV all-nodes runner for %i
After=distkv.service
Requires=distkv.service

ConditionFileNotEmpty=/etc/distkv.cfg

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
ExecStart=/usr/lib/distkv/run-all %i

User=distkv
Group=distkv

EnvironmentFile=/usr/lib/distkv/env
EnvironmentFile=-/etc/distkv.env

TimeoutSec=300
WatchdogSec=10

Restart=always
RestartSec=10
