[Unit]
Description=MoaT-KV state recovery
Conflicts=moat.kv.service

AssertFileNotEmpty=/etc/moat.kv.cfg

[Install]

[Service]
Type=oneshot

ExecStart=/usr/lib/moat.kv/recover
ExecStartPost=!/bin/systemctl restart moat.kv.service

EnvironmentFile=/usr/lib/moat.kv/env
EnvironmentFile=-/etc/moat.kv.env

User=moat.kv
Group=moat.kv

