[Unit]
Description=The DistKV server
After=serf.service
Wants=serf.service
Conflicts=distkv-master.service
#OnFailure=distkv-master.service

AssertFileNotEmpty=/etc/distkv.cfg

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
ExecStart=/usr/lib/distkv/run
User=distkv
Group=distkv
EnvironmentFile=/usr/lib/distkv/env
EnvironmentFile=-/etc/distkv.env
OnFailure=distkv-recover.service
ExecStartPost=/usr/lib/distkv/success

TimeoutSec=30
