Source: distkv
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9),
  python3-anyio,
  python3-asyncserf,
  python3-pytest,
Standards-Version: 3.9.6
Homepage: https://github.com/smurfix/distkv

Package: distkv
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  python3-anyio,
  python3-asyncserf,
  python3-systemd,
  python3-range-set (>= 0.3),
Replaces: python3-distkv
Conflicts: python3-distkv
Description: A distributed no-master key-value store
 DistKV is a master-less distributed key-value storage system. It
 circumvents the CAP theorem by assuming that keys are usually only changed
 by one node. It is resistant to partitioning and intended to be always-on;
 while it might delay – but will not lose – any updates.
 .
 DistKV does not support data partitioning. Every node stores the whole
 data set and can instantly deliver mostly-uptodate data.
 .
 DistKV does not have a disk-based storage backend; periodic snapshots and
 event logs are used to restore a system, if necessary.
